

body {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: dark rgb(107, 106, 106);
  background-color: light rgb(207, 183, 152);
}

head{
  background-color: light rgb(148, 187, 187);
  padding: 20px;
  text-align: center;
}

.imageContainer {
  float: center;
  width: 240px;
}

h1{
  font-size: 22px;
  margin: 0;
  font-family: Calibri, sans-serif;
  color: dark rgb(94, 93, 93);
}

p{
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
}

nav{
  margin-top: 10px;
}


