/* style.css >> stylesheet */


/*  styles  */

body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D4DF9E;
}

header {
    height: 120px;
    background-color: #6B654B;
}

.logo {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: #D8DAB0;
    text-align: left;
    margin: 0;
    padding: 10px;
}

header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D8DAB0;
    margin: 10px;
    font-size: 20px;
    text-align: left;
}

footer {
    background-color: #6B654B;
    margin: 0;
}

/*  type  */

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: left;
}

h1 {font-size: 22px;}
h2 {font-size: 18px;}
h3 {font-size: 14px;}

p, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
}

a {
    font-weight: 500;
    text-decoration: underline;
}
a:link {color:blue}
a:visited {color: aqua;}
a:hover {color: blueviolet;}
a:active {color: black;}

footer p {
    color: #D8DAB0;
    text-align: left;
    padding: 10px;
    margin: 0;
}

/*  image  */

img, iframe {
    width: auto;
    border-radius: 4px;
    border: 2px solid black;
}
